[[language]]
name = "go"
auto-format = true
formatter = { command = "gofmt" }

[language.indent]
tab-width = 4
unit = "\t"

[language-server.gopls]
command = "gopls"

[language-server.gopls.config]
"ui.semanticTokens" = true
